{% extends 'base.html.twig' %}

{% block body %}
    <section class="header">
        <span class="u-pull-left">{{ 'posts_number'|trans({'%posts%': posts_count() }) }}</span>
        <span class="u-pull-right">{{ 'views_number'|trans({'%views%': views_count() }) }}</span>
        <a href="#" class="export_data">{{ 'export'|trans }}</a>
    </section>

    <div class="row">
        {{ render(controller('AppBundle:Post:create')) }}
    </div>

    <div class="row">
        {{ render(controller('AppBundle:Post:list')) }}
    </div>
{% endblock %}